.xcrud-list {
	min-width: 100%;
	width: auto;
	display: table !important;
	margin-bottom: 0px;
	/*   table-layout: fixed;*/
}

.xcrud-list th, .xcrud-list td {
	/*white-space:nowrap;*/
	
}

.xcrud-column:hover {
	text-decoration: underline;
	cursor: pointer;
}

.xcrud-header {
	border-bottom: 1px solid var(--gray-500);
}

.xcrud-top-actions {
	padding: 0px 0px 0px 0px;
}

.xcrud-container {
	position: relative;
}

.xcrud .panel-heading {
	padding: 20px 30px;
}

.xcrud-nav>* {
	vertical-align: top;
	margin-top: 0;
	margin-bottom: 0;
}

td.xcrud-actions {
	overflow: hidden;
	white-space: nowrap !important;
	text-align: right;
}

.xcrud-actions a {
	vertical-align: top;
}

.xcrud-overlay {
	display: none!important;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	width: 100%;
	background:  var(--gray-500);
	z-index: 99999999999999999;
	text-align: center;
	height: 100%;
	vertical-align: middle;
}

.xcrud-benchmark {
	margin: 5px;
	line-height: 1.2;
	float: right;
	color: #999;
}

.xcrud-benchmark span {
	margin: 0 5px;
}

table.xcrud-details.table td input, table.xcrud-details.table td select,
	table.xcrud-details.table td textarea {
	margin-bottom: 0;
}

/* .xcrud .tab-content {
	padding: 8px;
	border: 1px solid #DDDDDD;
	border-top: 0;
}
 */ /*.xcrud .xcrud-remove-file{
    vertical-align: bottom;
    margin-left: 5px;
}*/
.xcrud .xcrud-file-container.error {
	border: 1px solid  var(--danger);
	padding-left: 5px;
}

.xcrud .xcrud-file-container {
}

.xcrud .xcrud-file-container img {
	max-width: 99%;
	width: 100% !important;
	vertical-align: bottom;
}

.xcrud-add-file {
	/*margin-top: 5px;*/
	position: relative;
	overflow: hidden;
}

input.xcrud-upload {
	cursor: pointer;
	direction: ltr;
	margin: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(-300px, 0px) scale(4);
	-webkit-transform: translate(-300px, 0px) scale(4);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.xcrud-label-required::after {
	content: ' *';
	color:  var(--danger);
}

.xcrud .xcrud-list td.xcrud-sum {
	font-weight: bold;
	white-space: nowrap !important;
}

/* column styles */
.xcrud-list td.align-left {
	text-align: left
}

.xcrud-list td.align-right {
	text-align: right;
}

.xcrud-list td.align-center {
	text-align: center;
}

.xcrud-list td.font-bold {
	font-weight: bold;
}

.xcrud-list td.font-italic {
	font-style: italic;
}

.xcrud-list td.text-underline {
	text-decoration: underline;
}

/* .xcrud .xcrud-list td .btn {
	margin-top: -4px;
	margin-bottom: -4px;
}
 */
.xcrud-th th {
	/* background: #efefef;
	white-space: nowrap; */
	
}

.xcrud .xcrud-daterange {
	width: 80px;
}

.xcrud-googlemap img {
	max-width: inherit;
}

.xcrud-search input, .xcrud-search select {
	width: 10%;
	margin: 0 5px 0 0;
	vertical-align: top;
	min-width: 120px;
}

.xcrud .btn-group {
	white-space: nowrap;
}

.xcrud .btn-group .btn {
	float: none !important;
}

.xcrud-upload-container img {
	display: block;
	width: 100% !important;
	clear: both;
	margin-bottom: 5px;
	border-radius: 1000px;
	max-width: 400px;
}

.xcrud-upload-container div:nth-child(2) {
	margin-left: 35px;
}

ul.xcrud-map-dropdown {
	list-style: none;
	margin: 0;
	padding: 0;
	background:  var(--white);
	border-radius: 2px;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	position: absolute;
	z-index: 5;
}

ul.xcrud-map-dropdown li {
	margin: 0;
	padding: 3px 10px;
	cursor: pointer;
}

ul.xcrud-map-dropdown li:hover {
	background:  var(--gray-500);
}

input.xcrud-inline {
	display: inline-block;
	width: 40%;
	margin-right: 10px;
}

.xcrud-map {
	border: 1px solid  var(--gray-500);
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	margin: 10px 0;
}
/*.xcrud-radio-label,.xcrud-checkboxes-label{
    display: block;
}
.xcrud-radio-label input,.xcrud-checkboxes-label input{
    margin-right: 7px;
}*/
.xcrud .validation-error {
	box-shadow: 0 0 1px  var(--danger), 0 0 3px  var(--danger) !important;
	background: #FFEBEB !important;
}

th.xcrud-actions {
	width: 40px;
}

a.xcrud_modal {
	text-decoration: none;
	color: inherit;
}

/*.xcrud-view table tr td:first-child{
    width: 30%;
}*/
/*td.details-label{
    width: 30%;
}*/

/* messages */
.xcrud-message {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px 20px;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0
		rgba(0, 0, 0, 0.05);
	display: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	color:  var(--white);
	cursor: pointer;
	z-index: 500;
}

.xcrud-message.success {
	background:  var(--green);
	border-top: 1px solid #8A1414;
	border-bottom: 1px solid #8A1414;
}

.xcrud-message.error {
	background:  var(--danger);
}

.xcrud-message.info {
	background:  var(--info);
}

.xcrud-message.note {
	background: #DDB75D;
}

.xcrud-toggle-show {
	float: right;
	margin: 8px;
	cursor: pointer;
}

/* .xcrud-main-tab {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 8px 15px 6px;
	margin: 0 2px;
	
}
 */
#xcrud-modal-window .modal-body>span>img {
	display: block;
	width: 100%;
}

/* RTL */
.xcrud.xcrud_rtl {
	direction: rtl;
}

.xcrud.xcrud_rtl .xcrud-list .xcrud-row:hover td.xcrud-actions-fixed {
	right: auto;
	left: 1px;
}

.xcrud.xcrud_rtl .xcrud-toggle-show {
	float: left;
}

.xcrud.xcrud_rtl .xcrud-button>i {
	margin-right: auto;
	margin-left: 4px;
}

.xcrud.xcrud_rtl .xcrud-details-table td:first-child {
	text-align: left;
}

.xcrud-list-container {
	overflow-x: auto;
	clear: both;
}

.xcrud .xcrud-list .xcrud-row:hover td.xcrud-actions-fixed {
	
}

.xcrud .xcrud-list .xcrud-row:hover td.xcrud-actions-fixed {
	/* 	position: absolute; */
	right: 0px;
	margin-top: -1px;
	border-left: none;
}

.xcrud .xcrud-list .xcrud-row:hover td.xcrud-actions-fixed .btn-group {
	-webkit-box-shadow: 0px 0px 10px 5px rgba(237, 237, 237, 1);
	-moz-box-shadow: 0px 0px 10px 5px rgba(237, 237, 237, 1);
	box-shadow: 0px 0px 10px 5px rgba(237, 237, 237, 1);
}

.xcrud-datepicker-from, .xcrud-datepicker-to {
	width: 150px !important;
}

.xcrud-alphabetical {
	padding: 0px !important;
	margin: 10px 0px 0px 0px;
}

.xcrud-view .checkbox label {
	padding: 0px;
}

.xcrud textarea {
	height: 150px;
}

.xcrud-mass-form-group {
	display: none;
}

.xcrud-row td[colspan] {
	text-align: center;
}

.xcrud-range {
	width: 100%;
	display: block;
}

.xcrud-range input {
	display: inline;
	width: 50% !important;
}

.totalizers>div {
	float: right;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.xcrud .between_field>div>input {
	width: 45%;
	display: inline-block;
}

.xcrud .between_field>div>span {
	width: 10%;
	display: inline-block;
	text-align: center;
}

select.xcrud-searchdata, input.xcrud-searchdata[data-type="text"], input.xcrud-searchdata
	{
	width: 150px !important;
}

.line_container {
	display: block;
	text-align: right;
}

.xcrud-limit-buttons {
	margin-top: 1px;
}

.xcrud-limit-buttons li {
	cursor: pointer;
}

.xcrud .panel-footer {
	padding-top: 20px;
}

.table a.btn {
	text-decoration: none !important;
}

.select2-container--material .select2-selection--single {
	padding-left: 0px !important;
}

.select2-container--material .select2-selection--multiple .select2-selection__choice:first-child
	{
	margin-left: 0px !important;
}

.cke_combo_text {
	width: 100px !important;
}

.cke_combopanel {
	width: 320px !important;
}

.cke_editable p {
	margin: 0px !important;
	padding: 0px !important;
	margin-block-start: 0em !important;
	margin-block-end: 0em !important;
}

.cke_editable {
	line-height: 1;
}

.select2-container--default.select2-container--disabled .select2-selection--single
	{
	background-color: #e9ecf1 !important;
}

.navbar-ecommerce {
	position: fixed !important;
}

.page-content {
	padding-top: 90px !important;
}

.xcrud-actions .table__cell-actions-wrap {
	text-align: right;
	display: block;
}

.xcrud-top-actions a[data-action="Recolocado"], .xcrud-top-actions a[data-action="Enviar Senha"]
	{
	display: none !important;
}

.xcrud-file-name a, .xcrud-file-name .btn-link, .xcrud-row a, .xcrud-row .btn-link
	{
	text-decoration: underline;
}